name: Unit Tests

on:
  push:
    branches:
      - 'master'

jobs:
  name: Run tests
  run_tests:
    runs-on: macos-11
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Run tests
        run: |
          swift test
